table{
    font-family: Verdana, sans-serif;
    font-size: 24px;
    text-align: center;
    border-collapse: collapse;
}

thead th{
    background-color: white;
}

tbody td{
    background-color: rgb(170, 247, 181);
}

tfoot td{
    background-color: rgb(246, 247, 170);

}

td, th{
    border: 2px solid black;
    padding: 0 12px;
}